# SMS Spam Detection

Goal of this notebook is to test different well-known classifiers with a plethora of features and see how they perform on the given dataset

### Let's begin

First of all import all neccesary libaries

In [11]:
import pandas as pd
import numpy as np

Read the data using pandas' read_csv method

In [12]:
DATAPATH = 'data/spam.csv'
df = pd.read_csv(DATAPATH, encoding='latin-1')

Have a look on the data

In [13]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

Now drop "unnamed" columns and rename v1 and v2 to "label" and "message" respectively

In [14]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis=1, inplace=True)
df.rename(columns = {'v1':'label','v2':'message'}, inplace=True)

Also drop any row which has any NaN value

In [15]:
df.dropna(inplace=True)